<div class="">

    <h1 class="text-5x1 m-16">REGISTER</h1>

    <form action="" method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Send</button>
    </form>
</div>